<ion-header>
  <ion-toolbar color="gklispay">
    <ion-title style="color: white;">infos Agent</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModalAgent()">Fermer
        <ion-icon slot="end" name="close" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <!--content page display-->
    <div class="ion-text-center">
      <h1>Vos informations et Vos performances seront bientôt disponible :)</h1>
   </div>
</ion-content>
<!--//////////////////////////////////////////////////////////////////////-->
  <!--start footer-->
  <ion-footer class="ion-text-center">
    <!--start footer toolbar-->
    <ion-toolbar color="gklispay">  
       <ion-text>&copy;2020 KLISPAY BY NTA-TECHNOLOGIE</ion-text>
    </ion-toolbar>
    <!--end footer toolbar-->
  </ion-footer>
  <!--end footer-->
